.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8FBC8F;
  border: 1px solid #8FBC8F;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: 500;
}

.form button:hover,
.form button:active {
  opacity: 0.8;
}