.products {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: products-appear 1s ease-out forwards;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.ProductsLoading {
  text-align: center;
  color: white;
}

.ProductsError {
  text-align: center;
  color: red;
}

.products ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes products-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
