.product {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.product p {
  margin: 0 0 0.25rem 0;
  font-size: 18px;
  font-weight: 600;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #b87230;
  font-size: 1.25rem;
}

.img {
  object-fit: cover;
  width:250px;
  height: 250px;
}