.home-shop {
  border-bottom: 1px #8FBC8F solid;
  margin: 2rem 0;
  padding: 10px;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  margin-bottom: 1rem;
}

.items {
  margin: 0 1rem;
  text-align: center;
}

.img {
  object-fit: cover;
  width:250px;
  height: 250px;
}