.home-shop {
  border-bottom: 1px #8FBC8F solid;
  margin-bottom: 2rem;
  padding: 10px;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  margin-bottom: 1rem;
}

.items {
  margin: 0 1rem;
  text-align: center;
}

.img {
  object-fit: cover;
  max-width:250px;
  max-height: 250px;
}

@media(max-width: 800px) {
  .flex {
    flex-direction: column;
    margin-bottom: 0;
  }

  .items {
    margin-bottom: 2rem;
  }
}