.button {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  transition: all 0.5s;
  text-decoration: none;
}

.button:hover,
.button:active {
  border-color: #ccc;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #8FBC8Fc5;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #8fbc8fee;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
