#main-footer {
  /* background: url('./img/footer.jpg') no-repeat bottom right / cover; */
  height: 30vh;
  color: #fff;
}

#main-footer .footer-container {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 2rem 0;
}

/* .items {

} */

/* #main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
} */