#main-footer {
  background: url('../../img/footer.jpg') no-repeat bottom right / cover;
  height: 35vh;
  color: #fff;
}

#main-footer .footer {
  display: flex;
  align-items: top; 
  justify-content: center;
  padding: 2rem 0;
}

.footer-items {
  margin: 0 1rem;
  text-align: center;
  max-width: 15rem;
}

.footer-items p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.footer-items ul li {
  color: rgba(233, 226, 217, 0.801);
  border-bottom: 1px dotted rgb(211, 202, 191);
}

.footer-items a {
  color: rgb(190, 218, 205);
  list-style: circle;
}